.main {
  margin: 20px;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.h2div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h2 {
  color: black;
  margin-bottom: 20px;
}

.main .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.main .profile-info {
  display: flex;
  align-items: center;
}

.profile-text {
  font-size: 14px;
  margin-left: 8px;
}

.main .center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cards-container .row {
  display: flex;
  gap: 20px;
}
.main .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bottom input {
  border: 1px solid rgb(229, 229, 229);
  width: 800px;
  height: 50px;
  border-radius: 15px;
  padding-left: 25px;
}

.bottom-icon {
  color: blue;
  font-size: 28px;
}

@media (max-width: 1190px) {
  .profile-text {
    display: none;
  }
  .main {
    margin: 0;
    height: 96vh;
    padding: 20px;
  }
  .hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  .main h2 {
    font-size: 20px;
  }

  .main .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cards-container {
    gap: 10px;
  }
  .cards-container .row {
    gap: 10px;
  }
  .main .center .row {
    flex-direction: column;
  }

  .bottom {
    /* margin-bottom: 20px; */
  }

  .bottom input {
    width: 300px;
  }

  .bottom-icon {
    font-size: 30px;
  }
}
